<div class="wrapper">
  <div class="d-flex flex-nowrap mt-2 col-md-8 mb-3">
    <input
      class="form-control"
      [formControl]="searchForm"
      placeholder="Введите название фильма..."
      type="search"
      list="character"
      (keydown.enter)="submit()"
    >
    <datalist *ngIf="searchList$ | async as searchList" id="character">
      <option *ngFor="let searchItem of searchList.Search" [value]="searchItem.Title"></option>
    </datalist>
    <button
      type="button"
      (click)="submit()"
      class="btn btn-primary"
    >
      Поиск
    </button>
  </div>

  <h2>Результаты поиска</h2>

  <ng-container *ngIf="films$ | async as films">
    <table class="table mb-3">
      <thead class="thead-light">
        <tr>
          <th scope="col">Название</th>
          <th scope="col">Год выпуска</th>
          <th scope="col">Режиссер</th>
          <th scope="col">Рейтинг IMDB</th>
        </tr>
      </thead>

      <tbody>
        <tr *ngIf="films.Response === 'True'"
            class="more"
            (click)="films.Title ? viewInfo = true : viewInfo = false"
            title="Открыть карточку с описанием"
        >
          <td>{{ films.Title }}</td>
          <td>{{ films.Year }}</td>
          <td>{{ films.Writer }}</td>
          <td>{{ films.imdbRating }}</td>
        </tr>

        <tr *ngIf="films.Response === 'False'">
          <td>Фильм не найден</td>
        </tr>
      </tbody>
    </table>

    <mat-card class="card-main"
              *ngIf="viewInfo">
      <i class="fa fa-times" (click)="viewInfo = false" title="Закрыть"></i>
      <img mat-card-image
           [src]="films.Poster"
           alt="Изображение постера отсутствует"
           class="card-main__image">
      <mat-card-title>Название фильма: {{ films.Title }}</mat-card-title>
      <mat-card-content>Год выпуска: {{ films.Year }}</mat-card-content>
      <mat-card-content>Режиссер: {{ films.Writer }}</mat-card-content>
      <mat-card-content>В главных ролях: {{ films.Actors }}</mat-card-content>
      <mat-card-content>Рейтинг IMDB: {{ films.imdbRating }}</mat-card-content>
    </mat-card>
  </ng-container>
</div>
